<!-- Adding card -->
<div class="style card">
    <div class="wrapper">
      <div class="header">
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
        </ul>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Whiskey</span>
          <h1 class="title"><a href="#">Moscow Mule</a></h1>
          <p class="text">The antsy bingers of Netflix will.</p>
          <a href="#" class="button">Recipe</a>
        </div>
      </div>
    </div>
  </div>
