// Theme
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #eee, #fff);
  // background-image: linear-gradient(to right, $regal-blue, $san-juan);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $open-sans;
  // background: #eee;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 32px;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 1100px;
  margin: 50px auto 0;


}
